Minden_beadas (1).pdf
ideaProject/build/
ideaProject/.idea/sonarlint/
ideaProject/.gradle/*
ideaProject/modules/
ideaProject/logs/
ideaProject/.idea/codestream.xml
ideaProject/.idea/misc.xml
ideaProject/.idea/sonarlint/issuestore/index.pb
ideaProject/callStacks/
